<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://styles.redditmedia.com/t5_758z63/styles/communityIcon_8bb24akt9phb1.png?width=256&s=d5768f7dc11c489a0f8b502aed14f8ff801e291f</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://styles.redditmedia.com/t5_758z63/styles/communityIcon_8bb24akt9phb1.png?width=256&s=d5768f7dc11c489a0f8b502aed14f8ff801e291f</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://styles.redditmedia.com/t5_758z63/styles/communityIcon_8bb24akt9phb1.png?width=256&s=d5768f7dc11c489a0f8b502aed14f8ff801e291f</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.palera1n.palera1n</string>
				<key>bundle-version</key>
				<string>9.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Palera1n</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
