<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/Italogc/cydia17/blob/main/304FAFD0-7904-4594-9149-3332EB2BCDA7.jpeg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/Italogc/cydia17/blob/main/304FAFD0-7904-4594-9149-3332EB2BCDA7.jpeg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/Italogc/cydia17/blob/main/304FAFD0-7904-4594-9149-3332EB2BCDA7.jpeg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.merdinha.rolhatec</string>
				<key>bundle-version</key>
				<string>24.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>RolhaJB</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
